<!DOCTYPE html>
<html>
	<head>
		<title>Cервис склонения слов по падежам</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<head>
	<body>
		Веб-сервис предназначен для склонения по падежам слов на русском языке.<br/>
		API доступно по урлу <a href="{% url 'api' %}?s=замок&case=gent&number=plur" target="_blank">{% url 'api' %}?s=замок&case=gent&number=plur</a> и передаче 2-ух обязательных и 1-го необязательного GET-параметров:
		<ol>
			<li>s=Слово которое необходимо просклонять</li>
			<li>case=падеж в котором нужно вернуть результат<br/>
				Возможны следующие параметры:
				<ul>
					<li>nomn - именительный (Кто? Что?)</li>
					<li>gent - родительный (Кого? Чего?)</li>
					<li>datv - дательный (Кому? Чему?)</li>
					<li>accs - винительный (Кого? Что?)</li>
					<li>ablt - творительный (Кем? Чем?)</li>
					<li>loct - предложный (О ком? О чём?)</li>
					<li>voct - звательный (Его формы используются при обращении к человеку).</li>
				</ul>
			</li>
			<li>Необязательный - number=число(единственное - sing , множественное - plur)</li>
		</ol>
	</body>
<html>